@model ProductListViewModel
<header class="bg-gradient-primary-to-secondary py-1">
    <div class="container px-1">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-9 col-xl-8 col-xxl-7">
                <div class="my-1 text-center text-xl-start">
                    <h1 class="display-8 fw-bolder text-white mb-2">Kurs na lepszą przyszłość</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Z nami wybierzesz ścieżkę rozwoju, która najbardziej odpowiada Twojemu talentowi i predyspozycjom. Poszerzaj horyzonty i zdobywaj kolejne cele.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Dołącz do nas</a>
                        <a class="btn btn-outline-light bg-white text-dark btn-lg px-4" href="#!">Popularne</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-5 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/assets/net.jpg" alt="..." /></div>
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <li class="input-group mt-2">
        @Html.TextBox("searchQuery", Model.SearchQuery, new { @class = "form-control text-muted", placeholder = "Nazwa kursu..." })
        <button type="submit" class="btn btn-primary">Wyszukaj</button>
    </li>
}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        @foreach (var p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}
    </div>
</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
page-class="btn" page-class-normall="btn-outline-dark"
page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
class="btn-group pull-right m-1">
</div>
